$main-font-stack: "Montserrat", sans-serif;
$subtitle-font: 'Kaushan Script';
$secondary-font: "Roboto", sans-serif;
$grey-color:  rgb(51, 51, 51);
$secondary-grey-color: rgb(153, 153, 153);
$white-color: rgb(255, 255, 255);
$orange-background-color: rgb(252, 227, 138);
$red-background-color: rgb(243, 129, 129);
$blue-color: rgb(149, 225, 211);
