* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 1600px;
    margin: auto;
}

header {
    width: 1110px;
    height: 92px;
    margin: auto;
}

.site-logo {
    padding-top: 38px;
    display: block;
    float: left;
    width: 80px;
    height: 22px;
}

.site-navigation {
    padding-top: 42px;
    font-size: 14px;
    list-style: none;
    font-weight: bold;
}

.site-navigation a {
    text-transform: uppercase;
    text-decoration: none;
    color: #0f0101;
    padding-left: 34px;
}

.site-navigation {
    float: right;
}

.site-navigation li {
    float: left;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #1abc9c;
}

.clearfix::after {
    display: block;
    content: " ";
    clear: both;
}

.slider {
    width: 1600px;
    height: 600px;
    margin: auto;
    position: relative;
}

.ctrl {
    position: absolute;
    display: inline-block;
    height: 104px;
    width: 104px;
    background-color: rgb(26, 188, 156);
    border: none;
    top: 50%;
    transform: translateY(-50%);
}

.prev {
    left: 244px;
}

.next {
    right: 244px;
}

.ctrl img {
    position: absolute;
    top: 30px;
    right: 50%;
    transform: translateX(+50%);
    margin: 0;
    padding: 0;
}

.slides {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slides-item {
    position: relative;
}

.slides-item img {
    height: 600px;
    object-fit: cover;
    width: 1600px;
}

.slide-text {
    color: #ffffff;
    position: absolute;
    width: 756px;
    height: 96px;
    left: 430px;
}

.slide-title {
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    top: 216px;
}

.slide-subtitle {
    font-size: 22px;
    top: 298px;
}

.gallery {
    background-color: #e9f0fd;
    width: 1600px;
    height: 676px;
}

.menu {
    width: 1110px;
    margin: auto;
    background-color: #e9f0fd;
    margin-bottom: 100px;

}

.title {
    padding-top: 40px;
    position: relative;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #515151;
    padding-bottom: 160px;
}

.title::after {
    content: '';
    background-color: rgb(26, 188, 156);
    position: absolute;
    display: block;
    margin: auto;
    margin-top: 34px;
    margin-bottom: 80px;
    width: 164px;
    height: 8px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 109;
}

.item {
    position: relative;
}

.name {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 42px;
    width: 200px;
    background-color: #323232;
    color: white;
    font-size: 16px;
    font-weight: bold;
    /* padding: 14px; */
}

.name p,
.price p {
    position: absolute;
    top: 14px;
    left: 14px;
}

.price {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 42px;
    width: 54px;
    background-color: #8c8c8c;
    color: white;
    font-size: 16px;
    font-weight: bold;
    /* padding: 14px; */
    /* float: right; */
}

.item {
    position: relative;
    width: 254px;
    height: auto;
    font-size: 0;
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.item:nth-child(4n) {
    margin-right: 0;
}

.container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 234px;
    height: 260px;
    background-color: rgb(50, 50, 50, 0.55);
    margin: 0;
    padding: 0;
    z-index: 2;
    display: none;
}

.icons {
    width: 166px;
    height: 106px;
    position: absolute;
    top: 78px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    padding: 0;
}

.container-button {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: none;
    margin-right: 8px;
    border: 1px solid white;
    margin-bottom: 3px;
}

.container-button:nth-child(3n) {
    margin-right: 0;
}

.basket {
    position: relative;
    width: 166px;
    height: 50px;
    color: white;
    padding-left: 30px;
    border: 1px solid white;
    background-color: #323232;
}

.basket img {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.item:hover .price {
    background: #7fd9c7;
}

.item:hover .name,
.container-button:hover {
    background: #1abc9c;
}

.item:hover .container {
    display: block;
}

footer {
    background: #323232;
    height: 88px;
    width: 1600px;
    font-size: 16px;
    color: white;
    text-align: center;
    /* padding-top: 38px; */
}

footer p {
    padding-top: 28px;
}

.colortext {
    color: #1abc9c; 
}